*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Node.js
backend/node_modules/
backend/.env
backend/server.log

# Android Studio
.idea/
app/build/

# General build files
build/

# Kotlin
*.log
.kotlinc/

# Others
*.swp
*.swo

# VS Code
.vscode/
